.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .product {
  border:1px #404040 solid;
  margin:1rem
} */


.parent-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.product {
  flex: 0 0 192px; /* play with this number */
  margin: 10px;
  border:1px #404040 solid;

}

.product-info {
  padding: 1rem;
}


.navbar-header{
   display:"flex";
   justify-content: space-between;
}
input {
  padding:5px;
    border-radius: 12px;

}